/* fonts */
@font-face {
    font-family: flood-std;
    src: url(./fonts/Flood\ Std\ Regular.otf);
  }
  
  @font-face {
    font-family: poynter-oldstyle-display;
    src: url(./fonts/Oldstyle\ Regular.ttf);
  }

  @font-face {
    font-family: poynter-oldstyle-display-bold;
    src: url(./fonts/Oldstyle\ Bold.ttf);
  }

/* Reset default CSS styles */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #354463;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    transition: 0.2s;
}

/* Header Styles */

.home-page-title{
    font-family: poynter-oldstyle-display, sans-serif;
}

/* Header styles for mobile devices */
@media (max-width: 480px) {
    .home-page-header{
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .home-page-nav a{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        margin-left: 3rem;
    }
    .home-page-title{
        margin-top: 1rem;
        margin-left: 2rem;
        font-family: poynter-oldstyle-display, sans-serif;
    }

    .donate-today-button{
        grid-column: span 2;
        justify-self: center;
        padding: 0.7rem 4rem;
        border-radius: 10rem;
        border: 0 #c1f7d5 solid;
        font-weight: 800;
        font-size: 1.3rem;
        margin-top: 4%;
        margin-bottom: 8%;
        background-color: #c1f7d5;
        color: #354463;
    }
  }

/* Header styles for Tablets */
@media (min-width: 480px) and (max-width: 993px){

    .home-page-title p{
        font-size: 1.7rem;
    }

    .home-page-header{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 1rem;
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .home-page-title{
        order: 0;
    }

    .home-page-nav{
        display: flex;
        order: 2;
        grid-column: span 2;
    }

    .home-page-nav a{
        display: block;
        margin-right: 2vw;
        font-size: 100%;
    }
    
    .donate-today-button{
        border: #c1f7d5;
        order: 1;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.6rem 0.8rem;
        border-radius: 2rem;
        color: #354463;
        background-color: #c1f7d5;
    }
}


/* Header styles for desktop devices */
@media (min-width: 993px) {
    .home-page-title p{
        font-size: 1.7rem;
        font-family: poynter-oldstyle-display;
        color: black;

    }

    .home-page-title{
        position: absolute;
        left: 0;
    }

    .home-page-header{
        display: flex;
        justify-content: end;
        margin-top: 2rem;
        margin-bottom:5rem;
    }

    .home-page-nav{
        display: flex;
        position: absolute;
        right: 20%;
        margin-top: 1%;
        margin-left: 2% ;
    }

    .home-page-nav a{
        display: block;
        margin-right: 4vw;
        font-size: 1em;
        color: black;
    }
    
    .donate-today-button{
        border: #c1f7d5;
        position: absolute;
        right:0%;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.1rem 1.4rem;
        border-radius: 2rem;
        color: #354463;
        font-family: poynter-oldstyle-display-bold;
        background-color: #c1f7d5;
    }
    .section-container-header{
        width: 1220px;
        margin: 0 auto;
        position: relative;
    }

}

.home-page-nav a:hover{
    opacity: 0.6;
}

.donate-today-button:hover{
    background-color: #354463;
    color: #c1f7d5;
}

/* Stop climate change card styles */

/* mobile */
@media (max-width: 480px) {
        
    .stop-climate-change-card{
        background-image: url(./assets/images/annie-spratt-135307-unsplash.png);
        background-size: 100% 100%;
        background-position: 0 center;
        background-color: #354463;
        display: flex;
        flex-direction: column;
    }
    .stop-climate-change-text span{
        display: block;
        color: white;
        line-height: 1.3;
        font-family: flood-std;
        font-size: 2.5rem;
    }
    .stop-climate-change-text{
        margin: 2rem 0 4rem 2rem;
    }

    .the-issue-card-title{
        background-color: #354463;
        color: white;
        display: inline;
        padding: 0.5rem 1rem;
        position: relative;
        margin-bottom: 2%;    
    }

    .the-issue-card{
        background-color: white;
        align-self: center;
        text-align: center;
        margin: 6% 8% 10% 8%;
    }
    .the-issue-card-text{
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .the-issue-card-link{
    padding-bottom: 2rem;
    text-decoration: underline;
    margin-left: 2rem;
    margin-right: 2rem;
    }

}

/* tab */
@media (min-width: 480px) and (max-width: 993px) {
    .stop-climate-change-card{
        background-image: url(./assets/images/annie-spratt-135307-unsplash.png);
        background-size: 100% 100%;
        background-position: 0 center;
        background-color: #354463;
        display: flex;
        flex-direction: column;
    }
    .stop-climate-change-text span{
        display: block;
        color: white;
        line-height: 1.3;
        font-family: flood-std;
        font-size: 2.5rem;
    }
    .stop-climate-change-text{
        margin: 2rem 0 4rem 8rem;
    }
    
    .the-issue-card-title{
        background-color: #354463;
        color: white;
        display: inline;
        padding: 0.5rem 1rem;
        position: relative;
        bottom: 1.8em;
        margin-bottom: 4%;    
    }
    
    .the-issue-card{
        background-color: white;
        align-self: center;
        margin: 3% 15% 8% 15%;
        padding-left: 2%;
        padding-top: 2%;

    }
    .the-issue-card-text{
        font-size: 2.2rem;
        font-weight: bold;
        margin: 2%;
    }

    .the-issue-card-link{
       padding-bottom: 2rem;
       margin: 2%;
       text-decoration: underline;
    }
}

/* desktop */
@media (min-width: 993px) {

    .stop-climate-change-card{
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding: 10% 0%;
    }

    .stop-climate-change-text span{
        display: block;
        color: white;
        line-height: 1.3;
        font-family: flood-std;
        font-size: 5rem;
    }
    .stop-climate-change-text{
        order: 1;
        margin: 2rem 0 4rem 3rem;
    }
    
    .the-issue-card-title{
        background-color: #354463;
        color: white;
        display: inline;
        padding: 1rem 2rem;
        position: relative;
        bottom: 2em;
        margin-bottom: 4%;  
        font-size: 0.8rem;  
    }
    
    .the-issue-card{
        background-color: white;
        align-self: center;
        padding-left: 6%;
        order: 0;
        padding-top: 2%;
        width: 80%;
    }

    .the-issue-card-text{
        font-size: 3rem;
        font-family: poynter-oldstyle-display;
        margin: 2%;
        line-height: 1.2;
        padding: 2rem 4rem 0rem 0rem;
        font-weight:bolder;
        padding-bottom: 0rem;
    }

    .the-issue-card-link{
       padding-bottom: 2rem;
       margin: 4%;
       text-decoration: underline;
    }
    .section-container-climate-change-card{
        width: 1220px;
        margin: 0 auto;
    }
    .climate-change-background-div{
        background-image: url(./assets/images/annie-spratt-135307-unsplash.png);
        background-size: 100% 100%;
        background-position: 0 center;
        background-color: #354463;
    }
}

.the-issue-card-link:hover{
    opacity: 0.5;

 }

/* Take Action styling */

/* mobile */
@media (max-width: 480px) {
    .take-action-card{
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-gap: 4%;
        grid-row-gap: 7%;
        padding: 0 8% 15% 8%;
        background-color: #c1f7d5;
    }
    .take-action-title{
        grid-column: span 2;
        justify-self: center;
        background-color: #354463;
        padding: 4% 6%;
        color: white;
        position: relative;
        bottom: 50%;
    }
    .take-action-card span{
        color: #354463;
        line-height: 1.6;
    }
    .take-action-card header{
        color: #354463;
        font-weight: bold;
        margin-bottom: 2%;
        font-size: larger;
    }
}

/* tablet */
@media (min-width: 480px) and (max-width: 993px) {
    .take-action-card{
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-gap: 7%;
        grid-row-gap: 10%;
        padding: 0 10% 10% 10%;
        background-color: #c1f7d5;
    }
    .take-action-title{
        grid-column: span 2;
        justify-self: center;
        background-color: #354463;
        padding: 2%;
        color: white;
        position: relative;
        bottom: 50%;
    }
    .take-action-card span{
        color: #354463;
        line-height: 1.3;
    }
    .take-action-card header{
        color: #354463;
        font-weight: bold;
        margin-bottom: 5%;
    }
}

/* desktop */

@media (min-width: 993px) {

    .take-action-card{
        background-color: #c1f7d5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5%;
        padding: 3% 0% 5% 0%;
    }

    .take-action-title{
        grid-column: span 4;
        justify-self: center;
        background-color: #354463;
        color: white;
        position: relative;
        bottom: 3.3rem;
        padding: 1.1% 4%;
        font-size: 0.8rem;
    }

    .take-action-card span{
        color: #354463;
        line-height: 1.3;
        font-size: 0.9rem;
    }

    .take-action-card header{
        color: #354463;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 2rem;
        font-family: poynter-oldstyle-display-bold;
        font-weight: 500;

    }

    .take-action-container{
        background-color: #c1f7d5;
    }

    .section-container-take-action{
        width: 1220px;
        margin: 0 auto;
    }

}

/* What we Do cards styling */

.readMore{
    background-color:#c1f7d5;
    padding: 2% 4%;
    border: 0 #c1f7d5 solid;
    border-radius: 15px;
    margin-bottom: 6%;
    font-weight: bold;
    font-size: 1rem;
}

.readMore:hover{
    background-color: #354463;
    color: #c1f7d5;
}


/* mobile */
@media (max-width: 480px) {

    .what-we-do-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #354463;
        padding: 4%;
    }
    
    .what-we-do-title{
        margin: 3rem;
        color:#354463;
        background-color: white;
        padding: 4% 6%;
        font-weight:500;
    }
    
    .what-we-do-text{
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0 5% 12% 5%;
    }
    
    .what-we-do-cards .card{
        background-color: white;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12%;
    }
    .what-we-do-images{
        width: 80%;
        position: relative;
        bottom: 2rem;
    }
    
    .card header{
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 4%;
        color: #354463;
    }
    
    .card span{
        text-align: center;
        color: #354463;
        margin-bottom: 4%;
        line-height: 1.5;
    }
    .readMore{
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        margin-bottom: 7%;
    }
}

/* tablet */
@media (min-width: 480px) and (max-width: 993px) {
    .what-we-do-cards{
        background-color: #354463;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 2%;
        padding: 2rem 10rem;
        padding-bottom:  15%;
        padding-right: 10rem;
    }
    
    .what-we-do-title{
        color:#354463;
        justify-self: start;
        background-color: white;
        padding: 1%;
        font-weight:500;
        grid-column: span 3;
    }
    
    .what-we-do-text{
        text-align: start;
        grid-column: span 3;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 2%;
    }
    
    .what-we-do-cards .card{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-column: span 3;
        grid-gap: 5%;
        margin-bottom: 4%;
    }

    .what-we-do-images{
        width: 250px;
        height: 150px;
        justify-self: center;
        grid-row: span 3;
        position: relative;
        bottom: 10%;
    }
    
    .card header{
        font-weight: bold;
        font-size: 1.5rem;
        color: #354463;
        align-self: end;
    }
    
    .card span{
        /* margin: 2%; */
        line-height: 1.3rem;
        justify-self: start;
        color: #354463;
        line-height: 1.3;
        /* padding-left: 7%; */
        grid-row: span 3;
    }

    .readMore{
        align-self: start;
        font-size: 1rem;
        border-radius: 2rem;
        justify-self: end;
        font-weight: bold;
        margin-right: 8%;
    }
}

/* desktop */
@media (min-width: 993px) {

    .what-we-do-cards{
        background-color: #354463;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 4%;
        grid-column-gap: 8%;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    
    .what-we-do-title{
        color:#354463;
        justify-self: start;
        background-color: white;
        padding: 1.3% 3%;
        font-size: 0.8rem;
        grid-column: span 3;
    }
    
    .what-we-do-text{
        text-align: start;
        grid-column: span 3;
        color: white;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 2%;
        font-family: poynter-oldstyle-display;
    }
    
    .what-we-do-cards .card{
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .what-we-do-images{
        width: 100%;
        height: 40%;
        position: relative;
        bottom:3%;
        left: 10%;
    }
    
    .card header{
        font-weight: bold;
        font-size: 2rem;
        color: #354463;
        margin: 2%;
        justify-self: start;
        padding-left: 7%;
        font-family: poynter-oldstyle-display;
    }
    
    .card span{
        margin: 2%;
        line-height: 1.3rem;
        justify-self: start;
        color: #354463;
        line-height: 1.7;
        padding-left: 7%;
        padding-right: 10%;
    }

    .readMore{
        align-self: start;
        margin: 3%;
        margin-left: 7%;
        font-size: 1.3rem;
        border-radius: 2rem;
        padding: 4% 8%;
        font-family: poynter-oldstyle-display-bold;
        font-weight: 500;
    }

    .section-container-what-we-do{
        width: 1220px;
        margin: 0 auto;
    }

    .what-we-do-cards-container{
        background-color: #354463;
    }
}

/* Did you know styling */

/* mobile */

@media  (max-width:480px){

    .did-you-know{
        background-image: url(./assets/images/did-you-know-background.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        background-position-y: -200px;
    }

    .did-you-know-tagLine span{
        display: block;
        font-family: flood-std;
        color: white;
        font-size: 2rem;
        margin-left: 7%;
    }

    .did-you-know-tagLine{
        margin-top: 10%;
    }

    .take-action-today-button{
        align-self: center;
        padding: 2% 4%;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 20px;
        border: 0 #c1f7d5 solid;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 5%;
        margin-left: 5%;
    }

    .did-you-know-cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .take-action-today-button:hover{
        background-color: #354463;
        color: #c1f7d5;
        
    }
    .did-you-know-title{
        justify-self: center;
        display: inline-block;
        text-align: center;
        background-color: #354463;
        position: relative; 
        color: white;
        top: 13px;
        padding: 4% 6%;
    }

    .did-you-know-cards{
        background-color: white;
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 0% 5% 5% 5%;
        padding: 6%;
        grid-gap: 8%;
    }

    .did-you-know-cards header{
        font-weight: bold;
        margin-bottom: 3%;
        font-size: 1.3rem;
    }

    .tweeter-icon,.faceBook-icon{
        width:30px;
        padding: 6px;
        border-radius: 50%;
        margin-bottom: 3%;
        cursor: pointer;
        margin-left: 2rem;
        background-color: #c1f7d5;
        
    }
}

/* tab and desktop */

@media (min-width:480px) {

    .did-you-know{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding: 7%; */
        padding: 7% 0%;
        justify-content: center;
    }

    .did-you-know-cards-container{
        display: flex;
        flex-direction: column;
    }

    .did-you-know-tagLine span{
        display: block;
        font-family: flood-std;
        color: white;
        font-size: 4rem;
    }

    .tagline-button-container{
        justify-self: start;
    }
    
    .take-action-today-button{
        padding: 1rem 2rem;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 2rem;
        border: 0 #c1f7d5 solid;
        font-size: 1.2rem;
        margin-top: 5%;
        font-weight: 500;
        font-family: poynter-oldstyle-display-bold;
    }

    .take-action-today-button:hover{
        background-color: #354463;
        color: #c1f7d5;
        
    }

    .did-you-know-title{
        align-self: center;
        background-color: #354463;
        position: relative;
        color: white;
        top:2%;
        right: 25%;
        padding: 2% 4%;
    }

    .did-you-know-cards{
        background-color: white;
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 0% 0% 5% 5%;
        padding: 6%;
        grid-gap: 0.6rem;
    }
    
    .did-you-know-cards p{
        font-size: 0.9rem;
    }

    .did-you-know-cards header{
        font-weight: bold;
        font-family: poynter-oldstyle-display-bold;
        font-weight: 500;
        font-size: 2.7rem;
        
    }

    .tweeter-icon,.faceBook-icon{
        width:40px;
        padding: 12px;
        border-radius: 50%;
        margin-bottom: 3%;
        cursor: pointer;
        margin-left: 2rem;
        background-color: #c1f7d5;
    }

    .did-you-know-container{
        background-image: url(./assets/images/did-you-know-background.png);
        background-size: 100% 100%;
    }
    .section-container-did-you-know{
        width: 1220px;
        margin: 0 auto;
    }

}

/* stroires styles */
@media (max-width:480px) {
    .stories{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .stories-title{
        background-color: #354463;
        color: white;
        padding: 4% 8%;
        margin: 2% 0% 2% 0%;
        position: relative;
        top: 2rem;
    }
    
    .stories img{
        width: 90%;
    }
    .stories-text{
        background-color: #354463;
        padding: 5%;
        margin: 5%;
    }
    .stories-text .main-content{
        text-align: center;
        color: white;
        line-height: 1.4;
        font-weight: bold;
        font-size: 1.6rem;
        padding: 5%;
        margin-bottom: 2%;
    }
    .stories-text .sub-content{
        text-align: center;
        color: white;
        margin-bottom: 2%;
    }
}

@media (min-width: 480px) and (max-width: 993px) {

    .stories{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .stories-title{
        background-color: #354463;
        color: white;
        padding: 1% 3% 1% 3%;
        margin: 4% 0 0% 0;
        position: relative;
        left:14%;
        top: 1rem;
    }

    .stories img{
        width: 60%;
        margin-left: 8%;
    }
    .stories-text{
        background-color: #354463;
        padding: 5%;
        margin: 0% 4% 4% 15%;
        position: relative;
        bottom: 2rem;
    }
    .stories-text .main-content{
        text-align: center;
        color: white;
        line-height: 1.2    ;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 5%;
    }
    .stories-text .sub-content{
        text-align: center;
        color: white;
    }
    .stories-read-more-button{
        margin-left: 15%;
    }
}

@media (min-width: 993px) {

    .stories{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stories-title{
        background-color: #354463;
        color: white;
        padding: 1% 3% 1% 3%;
        margin: 4% 0 0% 0;
        justify-self: center;
        grid-column: span 2;
        order: 0;
        position: relative;
        left: 13%;
        top: 1rem;
    }

    .stories img{
        width: 100%;
        align-self: start;
        order: 2;
    }
    .stories-text{
        background-color: #354463;
        position: relative;
        left: 5%;
        /* padding-left: 5%;
        padding-right: 5%; */
        padding: 10%;
        align-self: center;
        order: 1;
    }
    .stories-text .main-content{
        color: white;
        line-height: 1.3;
        font-weight: bold;
        font-size: 2rem;
        /* padding: 2rem; */
        font-family: poynter-oldstyle-display-bold;
        font-weight: 500;
    }
    .stories-text .sub-content{
        color: white;
        margin-top: 2rem;
    }
    .stories-read-more-button{
        order: 3;
        justify-self: start;
        padding: 1rem 2rem;
        position: relative;
        bottom: 4rem;
    }

    .section-container-stories{
        width: 1220px;
        margin: 0 auto;
    }
}



/* let's take action */

/* mobile */

@media (max-width:480px) {
    
    .lets-take-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #354463;
    }
    .lets-take-action-title{
        margin: 5%;
        text-align: center;
    }
    .lets-take-action-title span{
        display: block;
        font-family: flood-std;
        font-size: 3rem;
        color: white;
        margin-bottom: 2%;
    }

    .event-card-image1{
        background-image: url(./assets/images/tree-planting.png);
        background-size: 100% 100%;
        padding: 10rem 10rem;
    }

    .event-title1{
        background-color: white;
        color: #354463;
        text-align: center;
        padding: 0.5rem 1.2rem;
        position: relative;
        top: 1rem;
    }

    .earth-day-title1{
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 5%;
        text-align: center;
    }

    .event-text1{
        text-align: center;
        color: white;
        padding:0% 8%;
        line-height: 1.5;
        margin-bottom: 2%;
    }

    .event-card-image2{
        background-image: url(./assets/images/meeting.png);
        background-size: 100% 100%;
        padding: 10rem 10rem;
    }

    .event-title2{
        background-color: white;
        color: #354463;
        text-align: center;
        padding: 0.5rem 1rem;
        position: relative;
        top: 1rem;
    }

    .earth-day-title2{
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 5%;
        text-align: center;
    }

    .event-text2{
        text-align: center;
        color: white;
        padding:0% 8%;
        line-height: 1.5;
        margin-bottom: 2%;
    }
    .readMore{
        margin:2rem;
    }
}

/* tab and desktop */
@media (min-width:480px) {
    
    .lets-take-action{
        background-color: #354463;
        display: grid;
        grid-template-areas: 
        'title title'
        'image1 event'
        'image1 textTitle1'
        'image1 text1'
        'image1 button1'
        'latestNews image2'
        'textTitle2 image2'
        'text2 image2'
        'button2 image2';
        grid-gap: 2rem;
        padding: 4rem 0rem;
    }

    .lets-take-action-title{
        margin: 3rem 0rem 1rem 0rem;
        grid-column: span 2;
        grid-area: title;
    }

    .lets-take-action-title span{
        font-family: flood-std;
        font-size: 3.5rem;
        color: white;
        margin-bottom: 2%;
    }

    .event-card-image1{
        background-image: url(./assets/images/tree-planting.png);
        background-size: 100% 100%;
        width: 100%;
        grid-area: image1;
        justify-self: end;
    }

    .event-title1{
        background-color: white;
        color: #354463;
        padding: 0.8rem 2rem;
        font-size: 0.8rem;
        grid-area: event;
        margin-left: 4rem;
        display: inline-block;
    }

    .earth-day-title1{
        color: white;
        font-size: 3.5rem;
        font-weight: bold;
        grid-area: textTitle1;
        margin-left: 4rem;
        font-family: poynter-oldstyle-display;
    }

    .event-text1{
        color: white;
        line-height: 1.7;
        margin-left: 4rem;
        grid-area: text1;
    }

    .event-card-image2{
        background-image: url(./assets/images/meeting.png);
        background-size: 100% 100%;
        padding: 7rem 7rem;
        grid-area: image2;
    }

    .event-title2{
        background-color: white;
        color: #354463;
        text-align: center;
        padding: 0.8rem 2.2rem;
        font-size: 0.8rem;
        grid-area: latestNews;
        display: inline-block;
    }

    .earth-day-title2{
        color: white;
        font-size: 3.5rem;
        font-weight: bold;
        grid-area: textTitle2;
        margin-right: 4rem;
        font-family: poynter-oldstyle-display;
    }

    .event-text2{
        color: white;
        line-height: 1.7;
        margin-right: 4rem;
        grid-area: text2;
    }
    .readMore1{
        grid-area: button1;
        justify-self: start;
        margin-left: 4rem;
        font-size: 1.2rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        font-family: poynter-oldstyle-display-bold;
    }
    .readMore2{
        grid-area: button2;
        justify-self: start;
        margin-left: 0;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        font-family: poynter-oldstyle-display-bold;
    }
    .lets-take-action-container{
        background-color: #354463;
    }
    .section-container-lets-action-container{
        width: 1220px;
        margin: 0 auto;

    }
}

/* subscribe */

.subscribe{
    background-color: #c1f7d5;
    padding: 6% 0%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.4rem;
}

.subscribe-text{
    font-weight: bold;
    font-size: 1.3rem;
    color: #354463;
    grid-row: span 2;
    /* margin-right: 6rem; */
    /* margin-left: 8rem ; */
}
.subscribe-email-input{
    padding: 0.5rem 1rem;
    background-color: white;
    border: 0 white solid;
    border-radius: 15px;
    margin: 2%;
}

.subscribe-button{
    background-color: #354463;
    color: #c1f7d5;
    border: 0 #354463 solid;
    border-radius: 15px;
    padding: 0.5rem 1.2rem;
    align-self: center;
}

.subscribe-button:hover{
    background-color: white;
    color: #354463;
}

@media (min-width:993px) {
    .subscribe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .subscribe-text{
        font-size: 2rem;
        margin-right: 5rem;
        font-family: poynter-oldstyle-display-bold;
        font-weight:500;
    }
    .subscribe-email-input{
        padding: 2% 2rem;
        padding-right: 10rem;
        border-radius: 2rem;
        margin: 0;
        margin-right: 4rem;
        font-family: poynter-oldstyle-display;
    }   
    .subscribe-button{
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
        border-radius: 2rem;
        font-family: poynter-oldstyle-display-bold;
    }
    .subscribe-form{
        display: flex;
        flex-direction: row;
    }
    .subscribe-container{
        background-color: #c1f7d5;
    }
    .section-container-subscribe{
        width: 1220px;
        margin: 0 auto;
    }
}

/* footer styles */

.home-page-footer pre{
    color: #354463;
}

.home-page-footer strong{
    color: #354463;
    font-weight: 500;
    /* padding-bottom: 3%; */
}

.home-page-footer a{
    text-decoration: underline;
    cursor: pointer;
    color: #354463;
    padding-bottom: 2%;
}
.home-page-footer a:hover{
   opacity: 0.5;
}
.footer-title p{
    font-size: 1.4rem;
    color: #354463;
    font-weight: bold;
    font-family: poynter-oldstyle-display;
}

.footer-end{
    text-align: center;
    color: #354463;
    margin-bottom: 2rem;
}

.footer-tagline span{
    grid-column: span 2;
    display: block;
    color: #354463;
    text-align: end;
    margin-right: 3rem;
    font-size: 2rem;
}

/* mobile */
@media (max-width:480px) {
    
    .footer-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6%;
        padding: 6% 2% 4% 0%;
        color: #354463;
        padding: 5%;
        line-height: 1.3;
    }

    .footer-tagline span{
        grid-column: span 2;
        display: block;
        color: #354463;
        text-align: end;
        margin-right: 3rem;
        font-size: 2rem;
        
    }
    hr{
        opacity: 0;
    }
}

/* tab */

@media (min-width:480px) and (max-width:993px) {
    .footer-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 8rem;
        padding-right: 8rem;
        grid-row-gap: 1rem;
        padding: 2rem 8rem 0rem 8rem;
        line-height: 1.4;
        text-align: center;
    }
    .footer-title{
        grid-column: span 3;
        text-align: start;
        /* margin-left: 4%; */
    }
    hr{
        color: #354463;
        height: 1px;
    }
    .footer-tagline span{
        grid-column: span 2;
        display: block;
        color: #354463;
        text-align: end;
        margin-right: 8rem;
        font-size: 2rem;
    }

}

/* desktop */

@media (min-width:993px) {
    .home-page-footer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 6% 0%;
    }
    .footer-links{
        justify-content: space-between;
        line-height: 1.4;
        display: flex;
        order: 0;
    }
    .footer-title{
        grid-column: span 2;
        text-align: start;
    }
    hr{
        color: #354463;
        height: 1px;
    }
    .footer-tagline span{
        grid-column: span 2;
        display: block;
        color: #354463;
        font-size: 3rem;
    }
    .footer-end{
        grid-column: span 2;
        order: 2;
        margin-top: 6%;
    }
    .footer-tagline{
        order: 1;
        margin: 0;
    }
    .section-container-footer{
        width: 1220px;
        margin: 0 auto;
    }
}
